@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff') format('woff');
}