html,
body {
    height: 100%;
    font-family: $Roboto;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

a, input, select, button{
    outline: none;
}

img{
    max-width: 100%;
}

.page-wrap {

}

.content {
    max-width: 1064px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    @include respondTo(tablet){
        padding: 0 2rem;
    }

    @include respondTo(small){
        padding: 0 20px;
    }
}

.section{
    padding: 60px 0;
}

.footer {
    padding: 25px 0;
    background-color: #4c4c4c;
    color: #fff;

    @include respondTo(small){
        padding: 1rem 0;
    }

    &__copyright{
        font-size: .875rem;
    }
}