.jq-selectbox{
    @extend %input;

    line-height: 1.8;
    padding-right: 2em;
    z-index: 100;

    &:after{
        position: absolute;
        content: '';
        width: 10px;
        height: 6px;
        background: url('../img/arrow-down.svg') no-repeat 50% 50% / contain;
        top: calc(50% - 2px);
        right: calc(2em - 10px);
    }

    &.opened{
        //box-shadow: 0 10px 28.5px 1.5px rgba(0, 0, 0, 0.1);

        &:after{
            transform: rotate(180deg);
        }
    }

    &__dropdown{
        background-color: #fff;
        width: 100%;
        left: 0;
        z-index: 10;
        border-bottom: 1px solid rgb(204, 204, 204);
        border-left: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        box-sizing: border-box;
        padding: .8em;
        border-radius: 0 0 5px 5px;
        //box-shadow: 0 10px 28.5px 1.5px rgba(0, 0, 0, 0.1);
    }

    & li{
        color: #000;
        font-size: .875rem;
        margin-bottom: .35em;

        &:hover{
            color: $color-accent;
        }

        &.hidden{
            display: none;
        }

        &.disabled{
            opacity: .6;

            &:hover{
                color: #000;
            }
        }

        &.sel{
            color: $color-accent;
        }
    }


}


input{
    @extend %input;
}

//заголовки секций
.section-title{
    @extend %title;
}

//обертка для select-a
.box-select{
    position: relative;
}

.btn{

    @extend %btn;

    &_accent{
        background-color: $color-accent;
        border-color: $color-accent;

        &:hover{
            color: $color-accent;
            background-color: #fff;
        }
    }
}

//checkbox
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    width: auto;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    display: inline-block;
    color: rgba(#fff,.7);
    font-size: 12px;
    font-family: $Roboto;
    line-height: 1.3;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #fff;
}

.checkbox + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 14px;
    height: 10px;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    background: url('../img/check.svg') no-repeat 50% 50% / contain;
}

.checkbox:checked + label:after {
    opacity: 1;
    visibility: visible;
}

//radio
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-family: $Roboto;
    font-size: .875rem;
    white-space: nowrap;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-color: #FFF;
    box-sizing: border-box;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-accent;
    opacity: 0;
    transition: .2s;
}

.radio:checked + label:after {
    opacity: 1;
}


.icon{
    display: inline-block;

    &_arrow{
        fill: $color-accent;
        transition: fill ease-in-out .33s;

        @include respondTo(small){
            position: absolute;
            right: 1rem;
            top: 1.5rem
        }
    }
}

.list{
    list-style: none;

    & li{
        position: relative;
        padding-left: 10px;
        color: #242f15;
        font-size: .875rem;
        font-family: $Roboto;
        margin-bottom: .5em;
        line-height: 1.3;

        &:before{
            content: '';
            position: absolute;
            border-radius: 50%;
            width: 3px;
            height: 3px;
            top: 8px;
            left: 0;
            background-color: $color-accent;
        }

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}

.tarea-def {

    @extend %input;

    min-height: 7.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
    resize: vertical;

    &:focus {
        border-color: #4b8ec4;
        outline: 0;
        box-shadow: none;
    }

    &.has-error {
        border-color: red;
    }
}

.form-error{
    color: #ff0000;
    font-size: 10px;
    position: absolute;
    font-family: $Roboto;
    display: block;
    margin-top: 2px;
}

.q-form__row{
    .form-error{
        color: #fff;
        text-align: left;
    }

    &.has-error{
        flex-direction: column;
    }
}