//fonts
$Roboto: 'Roboto', Arial, sans-serif;
$Roboto-Medium: 'Roboto-Medium', Arial, sans-serif;
$Roboto-Bold: 'Roboto-Bold', Arial, sans-serif;

//color
$color-accent: #d52268;

//ui
%input{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: #fff;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: .875rem; //14px
    padding: .8em;
    cursor: pointer;
    color: #808080;
    line-height: 1.2;
    font-family: $Roboto;

    &::placeholder{
        opacity: 1;
    }

    &:focus{
        border-color: #4b8ec4;
    }
}

%btn{
    color: #fff;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(149, 179, 0);
    height: 50px;
    border: 1px solid rgb(149, 179, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Roboto-Medium;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: all ease-in-out .33s;
    text-decoration: none;

    @include respondTo(small){
        padding: 0 .5em;
    }

    &:hover{
        background-color: #fff;
        color: rgb(149, 179, 0);
    }
}

%title{
    text-transform: uppercase;
    color: #000;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1.2em;

    @include fluid-type(font-size, 480px, 1200px, 24px, 36px);
}

%nav-link{
    height: 34px;
    text-transform: uppercase;
    color: $color-accent;
    font-size: 1rem;
    font-family: $Roboto;
    padding-right: 2.5em;
    position: relative;
    line-height: 34px;
    text-decoration: none;
    display: inline-block;

    @include respondTo(small){
        padding-right: 1rem;
    }

    &:hover{
        color: #000;

        &:after{
            background: url('../img/arrow-right_hover.svg') no-repeat 50% 50% / contain;
        }
    }

    &:after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 12px;
        height: 34px;
        background: url('../img/arrow-right.svg') no-repeat 50% 50% / contain;
    }
}