.about{
    background-color: #ffffff;
    padding-bottom: 30px;

    &__slide{
        display: none;

        &.is-view{
            display: block;
        }
    }

    &__title{
        text-transform: uppercase;
        font-family: $Roboto;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: .85em;
    }

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include respondTo(small){
            padding: 0 1rem;
        }
    }

    &__item{
        width: 25%;
        margin-bottom: 20px;

        @include respondTo(mobile){
            width: 50%;
        }

        @include respondTo(small){
            width: 100%;
        }
    }

    &__tab{
        margin-bottom: 40px;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        justify-content: center;

        & a{
            display: inline-block;
            text-transform: uppercase;
            font-size: 1.125rem; //18px
            line-height: 1.1;
            padding-bottom: 20px;
            text-decoration: none;
            color: #000;
            position: relative;
            transition: color ease-in-out .33s;
            margin-right: 80px;
            white-space: nowrap;

            @include respondTo(tablet){
                font-size: 1rem;
            }

            @include respondTo(mobile){
                margin-right: 30px;
            }

            @include respondTo(small){
                margin-right: 10px;
                font-size: .8rem;
            }

            &:last-of-type{
                margin-right: 0;
            }

            &:after{
                position: absolute;
                content: '';
                bottom: 0;
                height: 4px;
                background-color: $color-accent;
                width: 100%;
                left: 0;
                right: 0;
                opacity: 0;
                transition: opacity ease-in-out .33s;
            }

            &.is-active,
            &:hover{
                color: $color-accent;

                &:after{
                    opacity: 1;
                }

            }
        }
    }

    &__partner{
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23.5%;
        min-height: 100px;

        @include respondTo(mobile){
            width: 48%;
        }

        @include respondTo(small){
            width: 100%;
            margin-bottom: 1rem;
        }

        &_blue{
            background-color: #0093a4;
        }

        &_l-blue{
            background-color: #00bcc6;
        }
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
    }

    &__link{
        @extend %nav-link;

        &_left{
            padding-left: 2.5em;
            padding-right: 0;

            @include respondTo(small){
                padding-left: 1em;
            }

            &:after{
                transform: rotate(180deg);
                right: auto;
                left: 0;
            }
        }
    }


    & .icon-box{
        margin-bottom: 3.75rem;
        width: 30%;

        @include respondTo(tablet){
            width: 45%;
        }

        @include respondTo(mobile){
            width: 100%;
            margin-bottom: 1.5rem;
        }

        @include respondTo(small){
            .icon-box__icon{
                display: none;
            }

            .icon-box__body{
                padding-left: 0;
            }
        }
    }
}