//about
.about-block{
    display: flex;
    align-items: center;
    flex-direction: column;

    &__item{
        background-color: $color-accent;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        flex-shrink: 0;

        @include respondTo(tablet){
            width: 120px;
            height: 120px
        }
    }

    &__data{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        @include fluid-type(font-size, 768px, 1024px, 42px, 48px);

        @include respondTo(small){
            font-size: 28px;
        }

        &_sm{
            @include fluid-type(font-size, 768px, 1024px, 22px, 30px);
        }

        & span{
            font-size: .5em;
        }
    }

    &__txt{
        color: #000;
        line-height: 1.2;
        margin-top: .75em;
        font-size: 1.125rem;
        text-align: center;

        @include respondTo(tablet){
            font-size: 1rem;
        }
    }
}