//цена в форме заказа на первом банере
.price{
    font-family: $Roboto-Bold;
    font-size: 1.875rem; //30px
    color: #fff;
    white-space: nowrap;
    text-align: center;

    @include respondTo(mobile){
        text-align: right;
    }

    @include respondTo(small){
        text-align: left;
        font-size: 1.7rem;
    }

    &_prefix{
        font-size: .6em; //18px
    }
}

//кол-во оставшихся мест в форме первого банера
.places{
    margin: 0 auto;
    color: #fff;
    background-color: rgba(213, 34, 104, .7);
    height: 50px;
    border-radius: 22px;
    font-size: .75rem;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: .6em 0;
    box-sizing: border-box;
    line-height: 1.2;
    width: 122px;

    @include respondTo(mobile){
        margin: 0;
        float: right;
    }


    &_unit{
        font-family: $Roboto-Bold;
        font-size: 1.125rem; //18px
    }
}

//секция с картой
.map{
    padding-bottom: 0;

    &__txt{
        color: #000;
        font-family: $Roboto;
        line-height: 1.25;
        text-align: center;
        margin-bottom: 1.75em;

        @include fluid-type(font-size, 480px, 768px, 12px, 18px);
    }

    & .section-title{
        margin-bottom: 20px;
    }
}

//элементы из .card__body
.age{
    font-family: $Roboto-Bold;
    font-size: .875rem;
    line-height: 2;
    position: relative;
    padding-left: 30px;

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - 9px);
        background: url('../img/age-icon.svg') no-repeat 50% 50% / cover;
        width: 20px;
        height: 17px;
    }
}

.title{
    font-family: $Roboto;
    font-size: 1.125rem;
    line-height: 1;
    margin: 1em 0;
}

.par{
    color: #000;
    font-family: $Roboto;
    font-size: .875rem;
    line-height: 1.3;
    margin-bottom: 1.5em;

    & strong{
        font-family: $Roboto-Bold;
    }
}


