.camp-offer{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;

    &__body{
        padding: 20px;
    }

    &__img{

        & img{
            width: 100%;
        }
    }

    &__title{
        text-transform: uppercase;
        font-family: $Roboto-Medium;
        font-size: 1.125rem;
        line-height: 1.1;
    }

    &__smena{
        color: #4c4c4c;
        font-family: $Roboto-Medium;
        font-size: 1.125rem;
        line-height: 1.3;
    }

    &__data{
        display: flex;
        margin: 1rem 0 1.5rem;
    }

    &__data-item{
        margin-right: 25px;
        display: flex;
        align-items: center;

        &:last-of-type{
            margin-right: 0;
        }

        & span{
            display: inline-block;
            color: #000;
            font-family: $Roboto-Bold;
            font-size: .875rem;
            padding-left: .75em;
        }
    }

    &__total{

        & p{
            color: #4c4c4c;
            font-size: .875rem;
            line-height: 1.3;
        }
    }

    &__cost{
        font-family: $Roboto-Bold;
        font-size: 1.875rem;
        line-height: 1.3;

        & span{
            font-size: .8em;
        }
    }
}