.card{
    box-sizing: border-box;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    &:first-of-type{
        border-top: 1px solid #e6e6e6;
    }

    &__header{
        background-color: #fff;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        height: 90px; //чтобы картинка не растягивалась

        @include respondTo(tablet){
            height: auto;
        }

        @include respondTo(mobile){
            flex-wrap: wrap;
        }

        &:hover,
        &.is-open{

            & .card__title{
                color: #000;
            }

            & .icon_arrow{
                fill: #000;
            }

            & .card__data{
                transform: translateX(0);
            }

            & .card__desc{
                color: #4c4c4c;
            }
        }

        &.is-open{
            & .icon_arrow{
                transform: rotate(180deg);
            }

            & .card__img:hover{
                &:before,
                &:after{
                    opacity: 0;
                }
            }

            & .btn{
                background-color: $color-accent;
                border-color: $color-accent;

                &:hover{
                    color: $color-accent;
                    background-color: #fff;
                }
            }
        }
    }

    &__data{
        padding: 1rem 20px 1rem 130px;
        width: 55%;
        transform: translateX(-100px);
        transition: transform ease-in-out .33s;
        position: relative;
        box-sizing: border-box;

        @include respondTo(tablet){
            transform: none;
            padding: 1rem 20px 1rem 30px;
            width: 65%;
        }

        @include respondTo(mobile){
            width: 100%;
            padding: 1rem 30px;
        }

        @include respondTo(small){
            padding: 1rem;
        }
    }

    &__price{
        padding: 1rem 30px 1rem 0;
        margin-left: auto;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        @include respondTo(tablet){
            flex-direction: column;
            align-items: flex-end;
        }

        @include respondTo(mobile){
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px .75rem;
        }

        @include respondTo(small){
            padding: 0 1rem .75rem;
        }

        & .btn{
            width: 210px;
            font-size: .875rem;

        }
    }

    &__cost{
        color: #000;
        font-family: $Roboto;
        font-size: 1.875rem;
        white-space: nowrap;
        margin-right: 25px;

        @include respondTo(tablet){
            margin: 0 0 .75rem;
        }

        @include respondTo(mobile){
            margin: 0 1rem 0 0;
        }

        @include respondTo(small){
            font-size: 1.5rem;
        }

        & span{
            font-size: .6em;
        }
    }

    &__img{
        flex-shrink: 0;
        width: 100px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: block;

        @include respondTo(tablet){
            display: none;
        }

        &:hover{

            &:before,
            &:after{
                opacity: 1;
            }
        }

        &:before{
            opacity: 0;
            content: '';
            background-color: rgba(#002147,.5);
            top:0;
            left: 0;
            right: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            transition: opacity ease-in-out .3s;
        }

        &:after{
            opacity: 0;
            content: 'Подробнее';
            text-decoration: underline;
            color: #fff;
            position: absolute;
            left: 0;
            top: calc(50% - 10px);
            right: 0;
            font-family: $Roboto-Bold;
            text-align: center;
            z-index: 100;
            font-size: .875rem;
            font-weight: 400;
            transition: opacity ease-in-out .3s
        }

        & img{
            height: 90px;
            object-fit: cover;
        }
    }

    &__title{
        color: $color-accent;
        font-family: $Roboto-Medium;
        font-size: 1.5rem;
        position: relative;
        display: inline-block;
        margin-bottom: .35em;
        line-height: 1;
        padding-right: 1rem;
        transition: color ease-in-out .33s;
    }

    &__desc{
        color: #8c8c8c;
        font-family: $Roboto;
        font-size: .75rem;
        line-height: 1.1;
    }

    &__body{
        display: none;
        background-color: #fff;
        padding: 1.5rem 30px 30px;

        @include respondTo(tablet){
            padding-top: 1rem;
        }

        @include respondTo(small){
            padding: 1rem;
        }

        & .btn{
            width: 220px;
            margin: 1.5rem auto 0;
            font-size: .875rem;
        }
    }

    &.is-hide{
        display: none;
    }
}