.facilities{
    background: #000 url('../img/facilities-bg.png') no-repeat 50% 50% / cover;

    &__title{
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        //font-size: 2.25rem;
        line-height: 1.1;
        margin-bottom: 1.2em;

        @include fluid-type(font-size, 480px, 1200px, 30px, 36px);
    }

    &__wrap{
        background-color: rgba(#fff,.85);
        padding: 2.5rem 2rem .5rem;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;

        @include respondTo(tablet){
            justify-content: space-around;
        }

        @media screen and (max-width: 640px){
            justify-content: space-between;
        }

        @include respondTo(small){
            margin-left: -10px;
            margin-right: -10px;
            width: calc(100% + 20px);
            padding-left: 1rem;
            padding-right: 1rem;
        }

        & .icon-box{
            width: 20%;
            margin-bottom: 55px;

            @include respondTo(tablet){
                width: 30%;
                margin-bottom: 25px;
            }

            @media screen and (max-width: 640px){
                width: 50%;
                margin-bottom: 20px;
            }
        }

    }

    & .section-title{
        color: #fff;
    }
}