//форма в первом банере
.form-main{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respondTo(tablet){
        flex-wrap: wrap;
    }

    &__col{
        margin-right: 2%;
        width: 23%;

        @include respondTo(tablet){
            width: 49%;
            margin-bottom: 20px;
        }

        @include respondTo(mobile){
            width: 60%;
        }

        @include respondTo(small){
            width: 100%;
            margin-right: 0;
        }

        &:last-of-type{
            margin-right: 0;
        }

        &:first-of-type{
            @include respondTo(mobile){
                order: 1;
            }
        }

        &:nth-child(2){
            @include respondTo(tablet){
                margin-right: 0;
            }

            @include respondTo(mobile){
                order: 3;
                margin-right: 2%;
            }

            @include respondTo(small){
                order: 2;
                margin-right: 0;
            }
        }

        &:nth-child(3){
            @include respondTo(mobile){
                order: 2;
            }

            @include respondTo(small){
                order: 3;
            }
        }

        &:nth-child(4){
            @include respondTo(mobile){
                order: 4;
            }

            @include respondTo(small){
                margin-right: 0;
            }
        }

        &_sm{
            width: 15%;

            @include respondTo(tablet){
                width: 23.5%;
                margin-bottom: 0;
            }

            @include respondTo(mobile){
                width: 38%;
                margin-right: 0;
                margin-bottom: 20px;
            }

            @include respondTo(small){
                width: 49%;
            }
        }

        &_m{
            width: 16%;

            @include respondTo(tablet){
                width: 49%;
                margin-bottom: 0;
            }

            @include respondTo(mobile){
                width: 100%;
                margin: 0;
                order: 5;
            }
        }


    }

    //кнопка Забронировать
    & button{

        @extend %btn;
    }
}

//форма в секции "есть вопросы"
.q-form{

    &__row{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        @include respondTo(mobile){
            flex-wrap: wrap;
        }

        &.has-error{
            position: relative;

            & .form-error{
                bottom: -1rem;
            }
        }
    }

    &__col{
        margin-right: 2%;
        width: 40%;

        @include respondTo(mobile){
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &:last-of-type{
            margin-right: 0;
        }

        &_m{
            width: 32.5%;

            @include respondTo(mobile){
                width: 50%;
                margin-right: 5%;
                margin-bottom: 0;
            }

            @include respondTo(small){
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        &_sm{
            width: 23.5%;

            @include respondTo(mobile){
                width: 45%;
                margin-bottom: 0;
            }

            @include respondTo(small){
                width: 100%;
            }
        }
    }
}

.form-row {
    margin-right: -.7rem;
    margin-left: -.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &_3cols {
        .form-row__item {
            flex-basis: 33%;

            @include respondTo(mobile){
                flex-basis: 100%;
            }
        }
    }

    &__item {
        margin-bottom: 1.2rem;
        padding-right: .7rem;
        padding-left: .7rem;
        box-sizing: border-box;
        position: relative;
        flex-basis: 50%;
        flex-grow: 3;


        @include respondTo(mobile){
            flex-basis: 100%;
        }

        .select-box,
        .inp-def {
            width: 100%;
        }
    }
}

/* FORMS CUSTOMIZE */
.row-item-childs{
    flex-basis: 10rem;
    flex-grow: 0;
}

.row-item-send{
    margin-bottom: 0;
    flex-basis: 12rem;
    flex-grow: 0;

    .btn-send{
        margin-top: 0;
    }
}

.row-item-check{
    margin-bottom: 0;

    @include respondTo(mobile){
        margin-top: 1rem;
    }
}

.komputerra{
    .lbl-row:first-child{
        margin-bottom: .6rem;
    }
}

.form-row-transfer{
    display: flex;
    flex-wrap: wrap;

    &__col{
        width: 50%;
        height: 1.5rem;
    }
}

.form-booking{
    display: flex;

    @include respondTo(mobile){
        flex-wrap: wrap;
    }

    &__body{
        width: 62%;
        box-sizing: border-box;
        padding-right: 20px;

        @include respondTo(mobile){
            width: 100%;
            padding-right: 0;
            order: 2;
        }
    }

    &__aside{
        width: 38%;

        @include respondTo(mobile){
            width: 100%;
            order: 1;
            margin-bottom: 20px;
        }
    }

}
