.header{
    padding: 20px 0 40px;
    display: flex;

    @include respondTo(tablet){
        align-items: flex-end;
        padding-bottom: 70px;
    }

    @include respondTo(mobile){
        align-items: flex-start;
        padding-bottom: 40px;
    }

    @include respondTo(small){
        flex-direction: column;
    }

    &__logo{
        background: url('../img/logo.png') no-repeat 50% 50% / cover;
        width: 200px;
        height: 63px;
    }

    &__contact{
        margin-left: auto;
        display: flex;

        @include respondTo(mobile){
            flex-direction: column;
        }

        @include respondTo(small){
            margin-left: 0;
            margin-top: 1rem;
        }
    }

    &__phone{
        display: flex;
        flex-direction: column;
    }

    &__phone-link{
        color: #010101;
        white-space: nowrap;
        font-size: 24px;
        line-height: 1.1;
        font-family: $Roboto-Medium;
        text-decoration: none;
    }

    &__phone-txt{
        color: #4079b3;
        font-family: $Roboto;
        font-size: 12px;
        line-height: 1.3;
        display: inline-block;

        @include respondTo(tablet){
            color: #365c84;
        }
    }

    &__btn{
        margin-left: 40px;
        border-radius: 5px;
        background-color: rgb(213, 34, 104);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid rgb(213, 34, 104);
        height: 44px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        text-decoration: none;
        box-sizing: border-box;
        transition: all ease-in-out .33s;
        cursor: pointer;
        font-family: $Roboto-Medium;
        font-size: .875rem;

        &:hover{
            background-color: #fff;
            color: rgb(213, 34, 104);
        }

        @include respondTo(mobile){
            margin-left: 0;
            margin-top: 15px;
        }
    }
}
