.lbl-grey{
    color: #b2b2b2 !important;
}

.lbl-2row{
    &:before{
        top: 5px !important;
    }

    &:after{
        top: 9px !important;
    }
}

.icon{
    display: inline-block;
    width: 14px;
    height: 14px;
}