.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__txt{
        color: #000;
        font-family: $Roboto-Medium;
        font-size: .875em; //14px;
        padding-top: 1.25em;
        text-align: center;
        line-height: 1.3;
    }

    &__body{
        padding-left: 1rem;
    }

    &__title{
        text-transform: uppercase;
        font-family: $Roboto-Medium;
        font-size: 1.125rem;
        line-height: 1;

    }

    &__link{
       @extend %nav-link;

        margin-top: auto;
        margin-left: auto;
    }

    &_inline{
        flex-direction: row;
        align-items: flex-start;

        & .icon-box__txt{
            font-family: $Roboto;
            text-align: left;
            padding-top: 1em;
        }

        & .icon-box__icon{
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $color-accent;
            box-sizing: border-box;
            flex-shrink: 0;
        }
    }

    &_flex{
        display: flex;
    }
}