.list-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item{
        width: 32%;
        margin-top: 2rem;

        @include respondTo(tablet){
            width: 48%;
        }

        @include respondTo(mobile){
            width: 100%;
        }
    }

    &__header{
        display: flex;
        align-items: center;
    }

    &__header-title{
        font-size: 1.125rem;
        color: $color-accent;
        font-family: $Roboto-Medium;
        margin-left: 10px;
    }

    //сноска внизу списка
    &__notes{
        color: #808080 !important;
        font-size: .75rem !important;
        margin-top: .5rem;
    }

    &__body{
        margin-top: 1rem;

        & p{
            line-height: 1.3;
            font-size: .875rem;
            font-family: $Roboto;
            color: #242f15;
        }
    }
}