.main-banner{
    background: url('../img/banner.jpg') no-repeat 50% 50% / cover;
    min-height: 600px;
    display: flex;
    flex-direction: column;

   @include respondTo(tablet){
       background: url('../img/banner_tablet.jpg') no-repeat 0 50% / cover;
       min-height: 680px;
   }

    &__logo{
        @include respondTo(mobile){
            max-width: 230px;
        }
    }

    &__txt{
        color: #fff;
        font-size: 1.125rem;
        line-height: 1.3;
        margin: 55px 0 120px;

        @include respondTo(tablet){
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            margin-top: 25px;
        }

        @include respondTo(small){
            margin: 25px 0;

            & br{
                display: none;
            }
        }
    }

    &__footer{
        background-color: rgba(#000,.7);
        padding: 20px 0;
        margin-top: auto;

        @include respondTo(tablet){
            padding-bottom: 30px;
        }

        @include respondTo(small){
            padding-bottom: 20px;
        }

        & h1{
            //font-size: 24px;
            font-family: $Roboto-Medium;
            line-height: 1.3;
            color: #fff;
            margin-bottom: .75em;

            @include fluid-type(font-size, 480px, 1200px, 18px, 24px);
        }
    }
}
