.popup{
    width: 100%;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    border-radius: 2rem;
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;

    @include respondTo(mobile){
        padding: 20px;
        max-width: 540px;
    }

    &_success{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 40px;

        & .btn{
            margin: 30px auto;
            width: 164px;
        }
    }

    &__close{
        width: 1.3rem;
        height: 1.3rem;
        border: 0;
        background: transparent url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2016%2016%22%0A%20width%3D%2216px%22%20height%3D%2216px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%280%2C%200%2C%200%29%22%0A%20d%3D%22M15.997%2C1.457%20L9.434%2C8.020%20L15.778%2C14.364%20L14.364%2C15.778%20L8.020%2C9.434%20L1.457%2C15.997%20L0.003%2C14.543%20L6.566%2C7.980%20L0.222%2C1.636%20L1.636%2C0.222%20L7.980%2C6.566%20L14.543%2C0.003%20L15.997%2C1.457%20Z%22/%3E%0A%3C/svg%3E) 50% 50% no-repeat;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }

    &__title{
        margin-top: 0;
        font-size: 1.875rem;
        font-family: $Roboto-Bold;
        margin-bottom: 20px;

        @include respondTo(mobile){
            font-size: 1.5rem;
        }
    }

    &__success-ico{
        margin-bottom: 5%;
    }

    &__success{
        font-size: 1.125rem;
        padding: 0 20%;
        line-height: 1.2;

        @include respondTo(mobile){
            padding: 0 10%;
        }
    }

    & .checkbox + label{
        color: #000;
    }
}

.mfp-close-btn-in .mfp-close{
    font-size: 3rem;
    color: #000;
    top: 10px;
    right: 15px;

    @include respondTo(small){
        font-size: 2rem;
        top: 0;
        right: 0;
    }
}