.price-section{
    background-color: #f5f5f5;

    &__tab{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 40px;
        overflow: hidden;
        position: relative;
    }

    &__tab-link{
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1.125rem; //18px
        line-height: 1.1;
        padding-bottom: 20px;
        text-decoration: none;
        color: #000;
        position: relative;
        transition: color ease-in-out .33s;
        margin-right: 30px;
        white-space: nowrap;
        font-family: $Roboto;
        display: inline-block;

        @include respondTo(tablet){
            font-size: 1rem;
        }

        &:last-of-type{
            margin-right: 0;
        }

        &:after{
            position: absolute;
            content: '';
            bottom: 0;
            height: 4px;
            background-color: $color-accent;
            width: 100%;
            left: 0;
            right: 0;
            opacity: 0;
            transition: opacity ease-in-out .33s;
        }

        &.is-active,
        &:hover{
            color: $color-accent;

            &:after{
                opacity: 1;
            }

        }
    }

    &__title{
        font-family: $Roboto-Medium;
        font-size: 1.5rem;
        margin: 1.6em 0 .6em;

        @include respondTo(small){
            font-size: 1.25rem;
        }

        &_first{
            margin-top: 0;
        }
    }
}