.question-block{
    background-color: $color-accent;
    color: #fff;
    padding: 20px 0;

    &__title{
        line-height: 1.2;

        @include fluid-type(font-size, 768px, 1200px, 18px, 24px);

        & br{
            display: none;

            @include respondTo(tablet){
                display: block;
            }
        }
    }
}