.slider{
    padding-top: 35px;

    &__link{
        text-transform: uppercase;
        font-size: 1.125rem; //18px
        line-height: 1.1;
        padding-bottom: 20px;
        text-decoration: none;
        color: #000;
        position: relative;
        transition: color ease-in-out .33s;
        margin-right: 30px;
        white-space: nowrap;
        display: inline-block;

        @include respondTo(tablet){
            font-size: 1rem;
        }

        &:last-of-type{
            margin-right: 0;
        }

        &:after{
            position: absolute;
            content: '';
            bottom: 0;
            height: 4px;
            background-color: $color-accent;
            width: 100%;
            left: 0;
            right: 0;
            opacity: 0;
            transition: opacity ease-in-out .33s;
        }

        &.is-active,
        &:hover{
            color: $color-accent;

            &:after{
                opacity: 1;
            }

        }
    }
}

//slide
.slider-slide{
    display: none;

    @include respondTo(mobile){
        flex-direction: column;
    }

    &__img{
        width: 50%;

        @include respondTo(mobile){
            width: 100%;
        }
    }

    &__body{
        padding-left: 30px;
        width: 50%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        @include respondTo(tablet){
            padding-left: 20px;

        }

        @include respondTo(mobile){
            padding-left: 0;
            width: 100%;
            padding-top: 25px;
        }

    }

    &__txt{
        font-size: .875rem; //14px
        line-height: 1.5;
        margin-bottom: 1.5em;

        &_main{
            font-family: $Roboto-Medium;
            font-size: 1rem;
        }
    }

    &__footer{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    &__link{

        @extend %nav-link;

        &_right{
            margin-left: auto;
        }

        &_left{
            padding-left: 2.5em;
            padding-right: 0;

            @include respondTo(small){
                padding-left: 1em;
            }

            &:after{
                transform: rotate(180deg);
                right: auto;
                left: 0;
            }
        }
    }

    &.is-view{
        display: flex;
    }
}