.transfer{
    margin-left: -30px;
    margin-right: -30px;
    background-color: #f5f5f5;
    padding: 20px 30px;

    &__title{
        font-family: $Roboto-Medium;
        font-size: .875rem;
        line-height: 1.5;
    }

    &__row{
        display: flex;
        align-items: center;
        margin: 1rem 0;
        flex-wrap: wrap;
    }

    &__col{
        margin-right: 40px;
        position: relative;

        @include respondTo(mobile){
            width: 50%;
            margin: 0;
            height: 1.5rem;
            padding-bottom: .5rem;
        }

        @include respondTo(small){
            width: 100%;
        }

        &:last-of-type{
            margin-right: 0;

            @include respondTo(mobile){
                padding-bottom: 0;
            }
        }
    }

    &__txt{
        color: #4c4c4c;
        font-family: $Roboto;
        font-size: .75rem;
        line-height: 1.3;
    }
}