doctype html
html
    head
        block title
            title= 'Заголовок страницы'
            meta(name="description" content="Описание страницы")
        include head

    body
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXQ7HK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        include ../parts/mixin-svg-use

        .page-wrap
            block content

            include footer

        script(src="js/jquery-3.2.1.min.js")
        script(src="js/jquery.formstyler.min.js")
        script(src="js/swiper.min.js")
        script(src="js/magnific-popup.min.js")
        script(src="js/js-form-validate.min.js")
        script(src="js/lang/ru.js")
        script(src="js/main.js")