section.section.about
    .content
        h3.section-title Почему рекомендуют приобретать путёвки у&nbsp;Национального оператора детского отдыха
        .about__tab
            a(href="#advantages").js-about-tab.is-active Преимущества
            a(href="#statistics").js-about-tab Статистика

        .about__slide(id="advantages").is-view
            .about__wrap
                //1
                .icon-box.icon-box_inline
                    .icon-box__icon
                        img(src='img/about-icon-1.svg')
                    .icon-box__body
                        h3.icon-box__title Качество
                        p.icon-box__txt Все детские лагеря, предлагаемые на&nbsp;нашем сайте, проходят как государственную сертификацию, так и&nbsp;жесткий отбор, согласно нашим внутренним стандартам качества.
                //2
                .icon-box.icon-box_inline
                    .icon-box__icon
                        img(src='img/about-icon-2.svg')
                    .icon-box__body
                        h3.icon-box__title Безопасность
                        p.icon-box__txt Мы&nbsp;не&nbsp;экономим на&nbsp;безопасности, мы&nbsp;проверяем наших партнеров на&nbsp;соблюдение всех техник безопасности, должного врачебного сопровождения, как в&nbsp;лагере, так и&nbsp;при трансфере.
                //3
                .icon-box.icon-box_inline
                    .icon-box__icon
                        img(src='img/about-icon-3.svg')
                    .icon-box__body
                        h3.icon-box__title Профессионализм
                        p.icon-box__txt Все вожатые и&nbsp;сопровождающие детских групп проходят сертификацию и&nbsp;обязательное обучение по&nbsp;организации детского отдыха и&nbsp;обеспечению его безопасности.
                //4
                .icon-box.icon-box_inline
                    .icon-box__icon
                        img(src='img/about-icon-4.svg')
                    .icon-box__body
                        h3.icon-box__title Надежность
                        p.icon-box__txt Мы&nbsp;сотрудничаем только с&nbsp;организациями, куда наши специалисты осуществили личный выезд, и&nbsp;убедились своими глазами в&nbsp;соответствии заявленных параметров реальности.
                //5
                .icon-box.icon-box_inline
                    .icon-box__icon
                        img(src='img/about-icon-5.svg')
                    .icon-box__body
                        h3.icon-box__title Вовлеченность
                        p.icon-box__txt На&nbsp;всех этапах сотрудничества мы&nbsp;на&nbsp;связи: как во&nbsp;время путешествия в&nbsp;лагерь, так и&nbsp;на&nbsp;всем протяжении отдыха до&nbsp;возвращения домой.
                //6
                .icon-box.icon-box_inline.icon-box_flex
                    a.icon-box__link.js-about-tab(href="#statistics") Статистика

        .about__slide(id="statistics")
            .about__wrap
                //1
                .about__item.about-block
                    .about-block__item
                        h4.about-block__data 8 <span>лет</span>
                    p.about-block__txt опыт работы
                //2
                .about__item.about-block
                    .about-block__item
                        h4.about-block__data.about-block__data_sm ~&nbsp;40 000 <span>детей</span>
                    p.about-block__txt отдохнули <br>с&nbsp;нашей помощью
                //3
                .about__item.about-block
                    .about-block__item
                        h4.about-block__data.about-block__data_sm >&nbsp;50 000 <span>трансферов</span>
                    p.about-block__txt организовано
            .about__footer
                 a(href="#advantages").about__link.about__link_left.js-about-tab Преимущества

