.card(data-id="#sport")
    .card__header
        .card__data
            .card__img
                img(src="img/olympic-academy.jpg")
            h3.card__title Олимпийская академия
            +svg-use('ico-arrow-down', 'icon icon_arrow')
            p.card__desc Мастер-классы и&nbsp;курсы от&nbsp;ведущих спортсменов и&nbsp;мастеров спорта, тренировки и&nbsp;увлекательные соревнования.
        .card__price
            span.card__cost 42 000 <span>руб.</span>
            a.btn(href="#") Забронировать бесплатно
    .card__body
        .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
        h3.title Образовательно-оздоровительный проект
        p.par <strong>В&nbsp;программе:</strong><br>
            | экспресс-курсы от&nbsp;мастеров спорта, заслуженных тренеров России по&nbsp;традиционным видам спорта и&nbsp;русским играм, мастер-классы и&nbsp;зрелищные соревнования по&nbsp;современным видам спорта, встречи с&nbsp;выдающимися спортсменами.
        p.par <strong>Виды спорта:</strong><br>
            | фигурное катание на&nbsp;сегвеях, велоспорт и&nbsp;мастер-класс по&nbsp;экстремальному велоспорту, черлидинг (танцевально-спортивная программа), авкааэробика, спортивное ориентирование, фризби, кроссфит, дартс, крокет, пожарно-прикладной спорт, настольный теннис, бадминтон.
        p.par Выдается свидетелсьтво о&nbsp;дополнительном образовании.
        .transfer
            h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
            .transfer__row
                .transfer__col
                    input(type="radio" id="no-transfer" value='no-transfer' name="transfer" checked=).radio
                    label(for="no-transfer" ) Без трансфера
                .transfer__col
                    input(type="radio" id="avia" value='avia' name="transfer").radio
                    label(for="avia") Авиатрансфер
                .transfer__col
                    input(type="radio" id="jd-transfer" value='jd-transfer' name="transfer").radio
                    label(for="jd-transfer") Ж/Д трансфер
            p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
        .list-block
            //1
            .list-block__item
                .list-block__header
                    img(src="img/icon-accommodation.svg").list-block__header-icon
                    h3.list-block__header-title Проживание
                .list-block__body
                    ul.list
                        li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                        li Удобства в&nbsp;номере.
                        li В&nbsp;корпусе работают администраторы.
                        li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
            //2
            .list-block__item
                .list-block__header
                    img(src="img/icon-food.svg").list-block__header-icon
                    h3.list-block__header-title Питание
                .list-block__body
                    ul.list
                        li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                        li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                        li Для обучающихся доступны буфет и&nbsp;детские кафе.
                    p.list-block__notes * повышенный рацион питания (опционально)
            //3
            .list-block__item
                .list-block__header
                    img(src="img/icon-medical.svg").list-block__header-icon
                    h3.list-block__header-title Медицинское обслуживание
                .list-block__body
                    p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
            //4
            .list-block__item
                .list-block__header
                    img(src="img/icon-security.svg").list-block__header-icon
                    h3.list-block__header-title Безопасность
                .list-block__body
                    p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
            //5
            .list-block__item
                .list-block__header
                    img(src="img/icon-sport.svg").list-block__header-icon
                    h3.list-block__header-title Спортивное оснащение
                .list-block__body
                    ul.list
                        li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                        li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                        li Беговые дорожки
                        li Зал тяжёлой атлетики
                        li Волейбольные и&nbsp;баскетбольные площадки
                        li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                        li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                        li Тренажёрный зал
                        li Зал борьбы, бокса
                        li Настоящий тир
            //6
            .list-block__item
                .list-block__header
                    img(src="img/icon-beach.svg").list-block__header-icon
                    h3.list-block__header-title Пляж
                .list-block__body
                    p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
        a(href="#").btn.btn_accent Забронировать бесплатно