section.section.facilities
    .content
        h2.section-title Проживание и&nbsp;удобства
        .facilities__wrap
            //1
            article.icon-box
                img.icon-box__icon(src="img/f-icon-1.svg")
                p.icon-box__txt Новые 3-х этажные<br> коттеджи
            //2
            article.icon-box
                img.icon-box__icon(src="img/f-icon-2.svg")
                p.icon-box__txt 3-4-х местные <br>номера
            //3
            article.icon-box
                img.icon-box__icon(src="img/f-icon-3.svg")
                p.icon-box__txt Одноярусные <br>кровати
            //4
            article.icon-box
                img.icon-box__icon(src="img/f-icon-4.svg")
                p.icon-box__txt Совмещенный санузел <br>в&nbsp;номере
            //5
            article.icon-box
                img.icon-box__icon(src="img/f-icon-5.svg")
                p.icon-box__txt Индивидульные<br> тумбочки, шкаф<br> с&nbsp;полками<br> и&nbsp;вешалками
            //6
            article.icon-box
                img.icon-box__icon(src="img/f-icon-6.svg")
                p.icon-box__txt 5-и разовое питание, <br>утвержденное <br>интститутом РАМН
            //7
            article.icon-box
                img.icon-box__icon(src="img/f-icon-7.svg")
                p.icon-box__txt Интернет <br>в&nbsp;помещениях <br>общего пользования
            //8
            article.icon-box
                img.icon-box__icon(src="img/f-icon-8.svg")
                p.icon-box__txt Ключ для каждой <br>комнаты
            //9
            article.icon-box
                img.icon-box__icon(src="img/f-icon-9.svg")
                p.icon-box__txt Круглосуточный <br>медицинский пост
            //10
            article.icon-box
                img.icon-box__icon(src="img/f-icon-10.svg")
                p.icon-box__txt Пляж, lounge-зона, <br>банкомат, минимаркет <br>на&nbsp;территории лагеря