main.main-banner
    .content
        header.header
            .header__logo
            .header__contact
                .header__phone
                    a.header__phone-link(href="tel:+78007754484") 8 800 775 44 84
                    span.header__phone-txt звонок по России бесплатный
                button.header__btn.js-mfp(data-mfp-src="#mfp-contacts") Заказать звонок


        img.main-banner__logo(src="img/smena-logo.png")
        .main-banner__txt С&nbsp;групповым ж/д или авиатрансфером<br> из&nbsp;Москвы

    .main-banner__footer
        .content
            h1 Подберите путевку для Вашего ребенка
            form.main-banner__form.form-main#main-form
                .form-main__col
                    .box-select
                        select#smena
                            option(value="" disabled selected).hidden Выберите смену
                            option(value="с 29 мая по 18 июня") с 29 мая по 18 июня
                            option(value="с 22 июня по 12 июля") с 22 июня по 12 июля
                            option(value="с 16 июля по 5 августа") с 16 июля по 5 августа
                            option(value="с 8 августа по 28 августа") с 8 августа по 28 августа
                .form-main__col
                    .box-select
                        select#lager
                            option(value="" disabled selected).hidden Выберите направление
                            option(value="Олимпийская академия" data-sum="42000" data-src="img/olympic-academy.jpg") Олимпийская академия
                            option(value="Академия творчества" data-sum="42000" data-src="img/create-academy.jpg") Академия творчества
                            option(value="Город мастеров" data-sum="57600" data-src="img/prof-academy.jpg") Город мастеров
                .form-main__col.form-main__col_sm
                    .price
                        span.price_prefix от&nbsp;
                        span.js-cost 42 000
                        span.price_prefix &nbsp;руб.
                .form-main__col.form-main__col_sm
                    .places осталось<br>
                        span.places_unit.js-place
                        | &nbsp;мест
                .form-main__col.form-main__col_m
                    button(type="submit") Забронировать