div#mfp-contacts.popup.mfp-hide
    h3.popup__title Обратная связь

    form#pop-contacts.js-contact-form.form-feedback(data-type="question")
        div.form-row.form-row_3cols
            div.form-row__item
                input.inp-def(placeholder="ФИО" name="name" data-validation="required")

            div.form-row__item
                input.inp-def(placeholder="Электронная почта" type="mail" name="email" data-validation="email")

            div.form-row__item
                input.inp-def(placeholder="Телефон" type="tel" name="phone" data-validation="length" data-validation-length="min6")

        div.form-row
            div.form-row__item
                textarea.inp-def.tarea-def(placeholder="Введите сообщение" name="text" data-validation="required")

        div.form-row
            div.form-row__item.row-item-send
                button.btn.btn_accent.btn-send Отправить

            div.form-row__item.row-item-check
                input(type="checkbox" id="checkbox" data-validation="required" checked='' required=).checkbox
                label(for="checkbox" id="").lbl Даю согласие на&nbsp;обработку персональных данных.
