div#mfp-booking.popup.mfp-hide
    h3.popup__title Забронировать смену бесплатно

    form#form-booking.form-booking(data-type="request")
        input#lname(type="hidden" name="lname")
        input#lperiod(type="hidden" name="period")
        div.form-booking__body
            div.form-row
                div.form-row__item
                    input(placeholder="Ваше ФИО" data-validation="required" name="name")
            div.form-row
               div.form-row__item
                    input(placeholder="Ваша электронная почта" type="text" data-validation="email" name="email")
            div.form-row
                div.form-row__item
                    input.inp-def(placeholder="Ваш номер телефона" type="tel" data-validation="length" data-validation-length="min6" name="phone")

            div.form-row
                div.form-row__item.row-item-childs
                    .box-select
                        select#child-num(name="count")
                            option(value="" disabled) Кол-во детей
                            option(value="1" selected=) 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                            option(value="7") 7
                            option(value="8") 8
                            option(value="9") 9
                            option(value="10") 10

                div.form-row__item
                    .form-row-transfer#transfer
                        .form-row-transfer__col
                            input(type="radio" id="no-transfer" value='no-transfer' name="type" data-sum='0' checked=).radio.js-radio
                            label(for="no-transfer" ) Без трансфера
                        .form-row-transfer__col
                            input(type="radio" id="avia" value='avia' data-sum='23862' name="type").radio.js-radio
                            label(for="avia") Авиатрансфер
                        .form-row-transfer__col
                            input(type="radio" id="jd-transfer" value='jd-transfer' data-sum='14800' name="type").radio.js-radio
                            label(for="jd-transfer") Ж/Д трансфер


            div.form-row
                div.form-row__item.row-item-send
                    button.btn.btn_accent(name="send-booking") Отправить

                div.form-row__item.row-item-check
                    input(type="checkbox" id="checkbox" checked='' data-validation="required" ).checkbox
                    label(for="checkbox" id="").lbl-grey.lbl-2row Даю согласие на&nbsp;обработку персональных данных

        div.form-booking__aside
            div.camp-offer
                div.camp-offer__img
                    img#offer-pic(src="")

                div.camp-offer__body
                    h3#offer-title.camp-offer__title -

                    div#offer-periods.camp-offer__smena -

                    .camp-offer__data
                        div.camp-offer__data-item
                            img(src="img/ico-calendar.svg")
                            span 21 день
                        div.camp-offer__data-item
                            img(src="img/age-icon.svg")
                            span 10 - 17 лет

                    div.camp-offer__total
                        p Итоговая стоимость путевки:
                        div#offer-cost.camp-offer__cost -