div#mfp-success.popup.popup_success.mfp-hide
    img.popup__success-ico(src="img/ico-success.svg")
    p.popup__title Ваша заявка успешно отправлена!
    p.popup__success В&nbsp;ближайшее время с&nbsp;Вами свяжутся наши специалисты для уточнения деталей заказа.
    button.btn.js-mfp-close Понятно!