section.question-block
    .content
        h3.question-block__title Не&nbsp;можете определиться с&nbsp;выбором?<br> Оставьте заявку и&nbsp;наши специалисты помогут Вам
        form.question-block__form.q-form#q-form(data-type="question")
            .q-form__row
                .q-form__col
                    input(placeholder="Как к Вам обращаться?" type="text" data-validation="required" name="name" id="name" )
                .q-form__col.q-form__col_m
                    input(placeholder="Номер телефона или E-mail" type="text" data-validation="required" name="contact" id="mail" )
                .q-form__col.q-form__col_sm
                    button(type="submit").btn Отправить
            .q-form__row
                input(type="checkbox" id="checkbox" checked='' data-validation="required" ).checkbox
                label(for="checkbox" id="").lbl Даю согласие на&nbsp;обработку персональных данных
