section.section.slider
    .content
        .swiper-container(id='swiper-tab')
            .swiper-wrapper
                .swiper-slide
                    a(href="#about").slider__link.js-tab-link.is-active О лагере
                .swiper-slide
                    a(href="#infrastructure").slider__link.js-tab-link Инфраструктура
                .swiper-slide
                    a(href="#health").slider__link.js-tab-link Здоровье
                .swiper-slide
                    a(href="#sport").slider__link.js-tab-link Спорт
                .swiper-slide
                    a(href="#creation").slider__link.js-tab-link Творчество
                .swiper-slide
                    a(href="#career").slider__link.js-tab-link Профориентация
            .swiper-button-prev
            .swiper-button-next

        .slider__content
            //1
            .slider-slide(id="about").is-view
                .slider-slide__img
                    img(src="img/about.jpg")
                .slider-slide__body
                    p.slider-slide__txt.slider-slide__txt_main
                        | На&nbsp;площади 20&nbsp;гектаров черноморского побережья раскинулся комплекс жилых, спортивных, образовательных и&nbsp;развлекательных объектов центра &laquo;Смена&raquo;.
                    p.slider-slide__txt
                        | 1&nbsp;июня 1985 года лагерь открыл свои двери и&nbsp;с&nbsp;тех пор является одним из&nbsp;четырех флагманов детского отдыха в&nbsp;России наряду с&nbsp;центром &laquo;Артек&raquo;, &laquo;Орлёнок&raquo; и&nbsp;&laquo;Океан&raquo;.
                    p.slider-slide__txt
                        | Единовременно детский центр Смена способен принять 2&nbsp;300&nbsp;детей.
                    .slider-slide__footer
                        a(href="#infrastructure").js-tab-link.slider-slide__link.slider-slide__link_right Инфраструктура
            //2
            .slider-slide(id="infrastructure")
                .slider-slide__img
                    img(src="img/infra.jpg")
                .slider-slide__body
                    p.slider-slide__txt.slider-slide__txt_main
                        | Инфраструктура лагеря
                    p.slider-slide__txt
                        | 4&nbsp;корпуса, Футбольное поле, Баскетбольная и&nbsp;волейбольная площадки
                        | Тренажерный зал и&nbsp;зал тяжелой атлетики, Открытый спортивный 50-метровый бассейн олимпийского масштаба, Сцена, Лектории, аудитории, конференц-залы, Магазин, Кафе, Библиотека, Экскурсии, Мультифункциональный спорткомплекс, Планетарий, Собственный галечный пляж, Теннис

                    .slider-slide__footer
                        a(href="#about").js-tab-link.slider-slide__link.slider-slide__link_left О лагере
                        a(href="#health").js-tab-link.slider-slide__link Здоровье
            //3
            .slider-slide(id="health")
                .slider-slide__img
                    img(src="img/health.jpg")
                .slider-slide__body
                    p.slider-slide__txt.slider-slide__txt_main
                        | СМЕНА&nbsp;&mdash; это территория здоровья!
                    p.slider-slide__txt
                        | Всероссийский детский центр &laquo;Смена&raquo; находится в&nbsp;одном из&nbsp;живописнейших мест России&nbsp;&mdash; поселке Сукко, между городом Анапа и&nbsp;Государственным природным заповедником &laquo;Утриш&raquo;. Удаленная на&nbsp;12&nbsp;километров от&nbsp;города, &laquo;Смена&raquo; располагается в&nbsp;уникальных природно-климатических условиях, где можно насладиться целебным воздухом, видом гор Кавказского хребта, можжевеловыми лесами и&nbsp;прекрасными пейзажами местности. Черное море, которое так радует детей и&nbsp;взрослых в&nbsp;курортный сезон, находится в&nbsp;шаговой доступности.

                    .slider-slide__footer
                        a(href="#infrastructure").js-tab-link.slider-slide__link.slider-slide__link_left Инфраструктура
                        a(href="#sport").js-tab-link.slider-slide__link Спорт
            //4
            .slider-slide(id="sport")
                .slider-slide__img
                    img(src="img/sport.jpg")
                .slider-slide__body
                    p.slider-slide__txt.slider-slide__txt_main
                        | СМЕНА&nbsp;&mdash; это территория спорта!
                    p.slider-slide__txt
                        | Команды и&nbsp;сборные России по&nbsp;18&nbsp;видам спорта регулярными учебно-тренировочными сборами и&nbsp;соревнованиями различного уровня закрепили за&nbsp;ВДЦ &laquo;Смена&raquo; звание &laquo;Лучшее место на&nbsp;Юге России для подготовки спортсменов и&nbsp;проведения соревнований&raquo;. Педагогические отряды ведущих вузов России реализуют образовательные и&nbsp;развлекательные программы федерального и&nbsp;регионального уровня.

                    .slider-slide__footer
                        a(href="#health").js-tab-link.slider-slide__link.slider-slide__link_left Здоровье
                        a(href="#creation").js-tab-link.slider-slide__link Творчество
            //5
            .slider-slide(id="creation")
                .slider-slide__img
                    img(src="img/creation.jpg")
                .slider-slide__body
                    p.slider-slide__txt.slider-slide__txt_main
                        | СМЕНА&nbsp;&mdash; это территория интересов!
                    p.slider-slide__txt
                        | На&nbsp;территории &laquo;Смены&raquo; открыт и&nbsp;успешно функционирует новый образовательный центр &laquo;Смена Лидер Клуб&raquo;, который включает 6&nbsp;тематических площадок: ТВ-студию, фабрику проектов, бизнес-центр, книготеку, IT-лабораторию, технопарк и&nbsp;конференц-зал на&nbsp;300 посадочных мест. Здесь всегда можно попробовать раскрыть свои способности в&nbsp;новом направлении, которое в&nbsp;дальнейшем может стать интересным хобби или любимой работой.

                    .slider-slide__footer
                        a(href="#sport").js-tab-link.slider-slide__link.slider-slide__link_left Спорт
                        a(href="#career").js-tab-link.slider-slide__link Профориентация
            //6
            .slider-slide(id="career")
                .slider-slide__img
                    img(src="img/career.jpg")
                .slider-slide__body
                    p.slider-slide__txt.slider-slide__txt_main
                        | СМЕНА&nbsp;&mdash; территория профориентации!
                    p.slider-slide__txt
                        | Подростки и&nbsp;молодежь могут воспользоваться Интернет-центром, оборудованным 34&nbsp;рабочими местами. Эта современная площадка очень популярна среди участников смен IT-технологий.

                    .slider-slide__footer
                        a(href="#creation").js-tab-link.slider-slide__link.slider-slide__link_left Творчество
