extends inc/base

block title
    title= 'Главная страница'
    meta(name="description" content="Описание главной страницы")

block content

    include parts/main-banner
    include parts/slider
    include parts/facilities
    include parts/question

    section.section.price-section
        .content
            h3.section-title Стоимость путевки
            .swiper-container(id='price-tab')
                .swiper-wrapper
                    .swiper-slide
                        span(data-href="#all").price-section__tab-link.is-active.js-tab Все направления
                    .swiper-slide
                        span(data-href="#sport").price-section__tab-link.js-tab Спортивные
                    .swiper-slide
                        span(data-href="#create").price-section__tab-link.js-tab Творческие
                    .swiper-slide
                        span(data-href="#prof").price-section__tab-link.js-tab Профориентация
                .swiper-button-prev
                .swiper-button-next

            h3.price-section__title.price-section__title_first Смена с&nbsp;29&nbsp;мая по&nbsp;18&nbsp;июня
            .card(data-id="#sport" data-period="с 29 мая по 18 июня")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/olympic-academy.jpg")
                        h3.card__title Олимпийская академия
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Мастер-классы и&nbsp;курсы от&nbsp;ведущих спортсменов и&nbsp;мастеров спорта, тренировки и&nbsp;увлекательные соревнования.
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="42000">42 000</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Образовательно-оздоровительный проект
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | экспресс-курсы от&nbsp;мастеров спорта, заслуженных тренеров России по&nbsp;традиционным видам спорта и&nbsp;русским играм, мастер-классы и&nbsp;зрелищные соревнования по&nbsp;современным видам спорта, встречи с&nbsp;выдающимися спортсменами.
                    p.par <strong>Виды спорта:</strong><br>
                        | фигурное катание на&nbsp;сегвеях, велоспорт и&nbsp;мастер-класс по&nbsp;экстремальному велоспорту, черлидинг (танцевально-спортивная программа), авкааэробика, спортивное ориентирование, фризби, кроссфит, дартс, крокет, пожарно-прикладной спорт, настольный теннис, бадминтон.
                    p.par Выдается свидетелсьтво о&nbsp;дополнительном образовании.
                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="no-transfer" value='no-transfer' data-sum='0' name="1-transfer" checked=).radio
                                label(for="no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="avia" value='avia' data-sum='23862' name="1-transfer").radio
                                label(for="avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="jd-transfer" value='jd-transfer' data-sum='14800' name="1-transfer").radio
                                label(for="jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно

            .card(data-id="#create" data-period="с 29 мая по 18 июня")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/create-academy.jpg")
                        h3.card__title Академия творчества
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Уникальная образовательная площадка мирового уровня: профессиональные пробы, знакомство с&nbsp;профессиями, практика.
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="42000">42 000</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Образовательно-оздоровительный проект
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | образовательные направления: световая живопись, декоративно-прикладное творчество, вокал, хореография, театр моды, кинематография, организация досуговой деятельности, иностранный язык, журналистика, диджеинг. Мастер-классы от&nbsp;известных деятелей сферы искусства.
                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="2-no-transfer" value='no-transfer' data-sum='0' name="2-transfer" checked=).radio
                                label(for="2-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="2-avia" value='avia' data-sum='23862' name="2-transfer").radio
                                label(for="2-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="2-jd-transfer" value='jd-transfer' data-sum='14800' name="2-transfer").radio
                                label(for="2-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно


            .card(data-id="#prof" data-period="с 29 мая по 18 июня")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/prof-academy.jpg")
                        h3.card__title Город мастеров
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Мастер-классы от&nbsp;известных деятелей искусств, творческие интенсивы, участие в&nbsp;большом гала-концерте
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="56700">56 700</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Профориентационная программа
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | курс обучения в&nbsp;учебно-тренировочном центре &laquo;Парк будущего&raquo;.<br>
                        | Знакомство с&nbsp;профессиями кластеров &laquo;Сервис и&nbsp;дизайн&raquo;, &laquo;Промышленность&raquo;, &laquo;Строительство&raquo;, &laquo;Информационные технологии&raquo;, &laquo;Транспорт&raquo; и&nbsp;&laquo;Профессии будущего&raquo;; профориентационное тестирование и&nbsp;профессиональные пробы на&nbsp;уникальном оборудовании, практика различных компетенций из&nbsp;Атласа профессий &laquo;Топ-50&raquo;, технологические операции и&nbsp;кейсы совместно с&nbsp;экспертами-участниками Союза &laquo;Молодые профессионалы (Worldskills Russia)&raquo;.
                    p.par Каждый участник составит &laquo;Карту личностного развития&raquo;, в&nbsp;которой наметит свой дальнейший образовательный и&nbsp;профессиональный маршрут.

                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="3-no-transfer" value='no-transfer' data-sum='0' name="3-transfer" checked=).radio
                                label(for="3-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="3-avia" value='avia' data-sum='23862' name="3-transfer").radio
                                label(for="3-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="3-jd-transfer" value='jd-transfer' data-sum='14800' name="3-transfer").radio
                                label(for="3-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах по&nbsp;4-6 человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно


            h3.price-section__title Смена с&nbsp;22&nbsp;июня по&nbsp;12 июля
            .card(data-id="#sport" data-period="с 22 июня по 12 июля")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/olympic-academy.jpg")
                        h3.card__title Олимпийская академия
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Мастер-классы и&nbsp;курсы от&nbsp;ведущих спортсменов и&nbsp;мастеров спорта, тренировки и&nbsp;увлекательные соревнования.
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="42000">42 000</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Образовательно-оздоровительный проект
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | экспресс-курсы от&nbsp;мастеров спорта, заслуженных тренеров России по&nbsp;традиционным видам спорта и&nbsp;русским играм, мастер-классы и&nbsp;зрелищные соревнования по&nbsp;современным видам спорта, встречи с&nbsp;выдающимися спортсменами.
                    p.par <strong>Виды спорта:</strong><br>
                        | фигурное катание на&nbsp;сегвеях, велоспорт и&nbsp;мастер-класс по&nbsp;экстремальному велоспорту, черлидинг (танцевально-спортивная программа), авкааэробика, спортивное ориентирование, фризби, кроссфит, дартс, крокет, пожарно-прикладной спорт, настольный теннис, бадминтон.
                    p.par Выдается свидетелсьтво о&nbsp;дополнительном образовании.
                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="4-no-transfer" value='no-transfer' data-sum='0' name="4-transfer" checked=).radio
                                label(for="4-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="4-avia" value='avia' data-sum='23862' name="4-transfer").radio
                                label(for="4-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="4-jd-transfer" value='jd-transfer' data-sum='14800' name="4-transfer").radio
                                label(for="4-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно
            .card(data-id="#create" data-period="с 22 июня по 12 июля")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/create-academy.jpg")
                        h3.card__title Академия творчества
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Уникальная образовательная площадка мирового уровня: профессиональные пробы, знакомство с&nbsp;профессиями, практика.
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="42000">42 000</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Образовательно-оздоровительный проект
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | образовательные направления: световая живопись, декоративно-прикладное творчество, вокал, хореография, театр моды, кинематография, организация досуговой деятельности, иностранный язык, журналистика, диджеинг. Мастер-классы от&nbsp;известных деятелей сферы искусства.
                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="5-no-transfer" value='no-transfer' data-sum='0' name="5-transfer" checked=).radio
                                label(for="5-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="5-avia" value='avia' data-sum='23862' name="5-transfer").radio
                                label(for="5-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="5-jd-transfer" value='jd-transfer' data-sum='14800' name="5-transfer").radio
                                label(for="5-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно


            .card(data-id="#prof" data-period="с 22 июня по 12 июля")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/prof-academy.jpg")
                        h3.card__title Город мастеров
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Мастер-классы от&nbsp;известных деятелей искусств, творческие интенсивы, участие в&nbsp;большом гала-концерте
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="56700">56 700</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Профориентационная программа
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | курс обучения в&nbsp;учебно-тренировочном центре &laquo;Парк будущего&raquo;.<br>
                        | Знакомство с&nbsp;профессиями кластеров &laquo;Сервис и&nbsp;дизайн&raquo;, &laquo;Промышленность&raquo;, &laquo;Строительство&raquo;, &laquo;Информационные технологии&raquo;, &laquo;Транспорт&raquo; и&nbsp;&laquo;Профессии будущего&raquo;; профориентационное тестирование и&nbsp;профессиональные пробы на&nbsp;уникальном оборудовании, практика различных компетенций из&nbsp;Атласа профессий &laquo;Топ-50&raquo;, технологические операции и&nbsp;кейсы совместно с&nbsp;экспертами-участниками Союза &laquo;Молодые профессионалы (Worldskills Russia)&raquo;.
                    p.par Каждый участник составит &laquo;Карту личностного развития&raquo;, в&nbsp;которой наметит свой дальнейший образовательный и&nbsp;профессиональный маршрут.

                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="6-no-transfer" value='no-transfer' data-sum='0' name="6-transfer" checked=).radio
                                label(for="6-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="6-avia" value='avia' data-sum='23862' name="6-transfer").radio
                                label(for="6-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="6-jd-transfer" value='jd-transfer' data-sum='14800' name="6-transfer").radio
                                label(for="6-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах по&nbsp;4-6 человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно


            h3.price-section__title Смена с&nbsp;16&nbsp;июля по&nbsp;5&nbsp;августа
            .card(data-id="#sport" data-period="с 16 июля по 5 августа")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/olympic-academy.jpg")
                        h3.card__title Олимпийская академия
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Мастер-классы и&nbsp;курсы от&nbsp;ведущих спортсменов и&nbsp;мастеров спорта, тренировки и&nbsp;увлекательные соревнования.
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="42000">42 000</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Образовательно-оздоровительный проект
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | экспресс-курсы от&nbsp;мастеров спорта, заслуженных тренеров России по&nbsp;традиционным видам спорта и&nbsp;русским играм, мастер-классы и&nbsp;зрелищные соревнования по&nbsp;современным видам спорта, встречи с&nbsp;выдающимися спортсменами.
                    p.par <strong>Виды спорта:</strong><br>
                        | фигурное катание на&nbsp;сегвеях, велоспорт и&nbsp;мастер-класс по&nbsp;экстремальному велоспорту, черлидинг (танцевально-спортивная программа), авкааэробика, спортивное ориентирование, фризби, кроссфит, дартс, крокет, пожарно-прикладной спорт, настольный теннис, бадминтон.
                    p.par Выдается свидетелсьтво о&nbsp;дополнительном образовании.
                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="7-no-transfer" value='no-transfer' data-sum='0' name="7-transfer" checked=).radio
                                label(for="7-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="7-avia" value='avia' data-sum='23862' name="7-transfer").radio
                                label(for="7-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="7-jd-transfer" value='jd-transfer' data-sum='14800' name="7-transfer").radio
                                label(for="7-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно
            .card(data-id="#create" data-period="с 16 июля по 5 августа")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/create-academy.jpg")
                        h3.card__title Академия творчества
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Уникальная образовательная площадка мирового уровня: профессиональные пробы, знакомство с&nbsp;профессиями, практика.
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="42000">42 000</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Образовательно-оздоровительный проект
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | образовательные направления: световая живопись, декоративно-прикладное творчество, вокал, хореография, театр моды, кинематография, организация досуговой деятельности, иностранный язык, журналистика, диджеинг. Мастер-классы от&nbsp;известных деятелей сферы искусства.
                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="8-no-transfer" value='no-transfer' data-sum='0' name="8-transfer" checked=).radio
                                label(for="8-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="8-avia" value='avia' data-sum='23862' name="8-transfer").radio
                                label(for="8-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="8-jd-transfer" value='jd-transfer' data-sum='14800' name="8-transfer").radio
                                label(for="8-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно

            .card(data-id="#prof" data-period="с 16 июля по 5 августа")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/prof-academy.jpg")
                        h3.card__title Город мастеров
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Мастер-классы от&nbsp;известных деятелей искусств, творческие интенсивы, участие в&nbsp;большом гала-концерте
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="56700">56 700</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Профориентационная программа
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | курс обучения в&nbsp;учебно-тренировочном центре &laquo;Парк будущего&raquo;.<br>
                        | Знакомство с&nbsp;профессиями кластеров &laquo;Сервис и&nbsp;дизайн&raquo;, &laquo;Промышленность&raquo;, &laquo;Строительство&raquo;, &laquo;Информационные технологии&raquo;, &laquo;Транспорт&raquo; и&nbsp;&laquo;Профессии будущего&raquo;; профориентационное тестирование и&nbsp;профессиональные пробы на&nbsp;уникальном оборудовании, практика различных компетенций из&nbsp;Атласа профессий &laquo;Топ-50&raquo;, технологические операции и&nbsp;кейсы совместно с&nbsp;экспертами-участниками Союза &laquo;Молодые профессионалы (Worldskills Russia)&raquo;.
                    p.par Каждый участник составит &laquo;Карту личностного развития&raquo;, в&nbsp;которой наметит свой дальнейший образовательный и&nbsp;профессиональный маршрут.

                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="9-no-transfer" value='no-transfer' data-sum='0' name="9-transfer" checked=).radio
                                label(for="9-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="9-avia" value='avia' data-sum='23862' name="9-transfer").radio
                                label(for="9-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="9-jd-transfer" value='jd-transfer' data-sum='14800' name="9-transfer").radio
                                label(for="9-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах по&nbsp;4-6 человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно


            h3.price-section__title Смена с&nbsp;8&nbsp;августа по&nbsp;28&nbsp;августа
            .card(data-id="#sport" data-period="с 8 августа по 28 августа")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/olympic-academy.jpg")
                        h3.card__title Олимпийская академия
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Мастер-классы и&nbsp;курсы от&nbsp;ведущих спортсменов и&nbsp;мастеров спорта, тренировки и&nbsp;увлекательные соревнования.
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="42000">42 000</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Образовательно-оздоровительный проект
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | экспресс-курсы от&nbsp;мастеров спорта, заслуженных тренеров России по&nbsp;традиционным видам спорта и&nbsp;русским играм, мастер-классы и&nbsp;зрелищные соревнования по&nbsp;современным видам спорта, встречи с&nbsp;выдающимися спортсменами.
                    p.par <strong>Виды спорта:</strong><br>
                        | фигурное катание на&nbsp;сегвеях, велоспорт и&nbsp;мастер-класс по&nbsp;экстремальному велоспорту, черлидинг (танцевально-спортивная программа), авкааэробика, спортивное ориентирование, фризби, кроссфит, дартс, крокет, пожарно-прикладной спорт, настольный теннис, бадминтон.
                    p.par Выдается свидетелсьтво о&nbsp;дополнительном образовании.
                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="10-no-transfer" value='no-transfer' data-sum='0' name="10-transfer" checked=).radio
                                label(for="10-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="10-avia" value='avia' data-sum='23862' name="10-transfer").radio
                                label(for="10-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="10-jd-transfer" value='jd-transfer' data-sum='14800' name="10-transfer").radio
                                label(for="10-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно
            .card(data-id="#create" data-period="с 8 августа по 28 августа")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/create-academy.jpg")
                        h3.card__title Академия творчества
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Уникальная образовательная площадка мирового уровня: профессиональные пробы, знакомство с&nbsp;профессиями, практика.
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="42000">42 000</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Образовательно-оздоровительный проект
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | образовательные направления: световая живопись, декоративно-прикладное творчество, вокал, хореография, театр моды, кинематография, организация досуговой деятельности, иностранный язык, журналистика, диджеинг. Мастер-классы от&nbsp;известных деятелей сферы искусства.
                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="11-no-transfer" value='no-transfer' data-sum='0' name="11-transfer" checked=).radio
                                label(for="11-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="11-avia" value='avia' data-sum='23862' name="11-transfer").radio
                                label(for="11-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="11-jd-transfer" value='jd-transfer' data-sum='14800' name="11-transfer").radio
                                label(for="11-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах от&nbsp;3&nbsp;до&nbsp;4&nbsp;человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно

            .card(data-id="#prof")
                .card__header
                    .card__data
                        .card__img
                            img(src="img/prof-academy.jpg")
                        h3.card__title Город мастеров
                        +svg-use('ico-arrow-down', 'icon icon_arrow')
                        p.card__desc Мастер-классы от&nbsp;известных деятелей искусств, творческие интенсивы, участие в&nbsp;большом гала-концерте
                    .card__price
                        span.card__cost <em class="js-cost" data-sum="56700">56 700</em> <span>руб.</span>
                        button.btn.js-get-offer Забронировать бесплатно
                .card__body
                    .age от&nbsp;10&nbsp;до&nbsp;17&nbsp;лет
                    h3.title Профориентационная программа
                    p.par <strong>В&nbsp;программе:</strong><br>
                        | курс обучения в&nbsp;учебно-тренировочном центре &laquo;Парк будущего&raquo;.<br>
                        | Знакомство с&nbsp;профессиями кластеров &laquo;Сервис и&nbsp;дизайн&raquo;, &laquo;Промышленность&raquo;, &laquo;Строительство&raquo;, &laquo;Информационные технологии&raquo;, &laquo;Транспорт&raquo; и&nbsp;&laquo;Профессии будущего&raquo;; профориентационное тестирование и&nbsp;профессиональные пробы на&nbsp;уникальном оборудовании, практика различных компетенций из&nbsp;Атласа профессий &laquo;Топ-50&raquo;, технологические операции и&nbsp;кейсы совместно с&nbsp;экспертами-участниками Союза &laquo;Молодые профессионалы (Worldskills Russia)&raquo;.
                    p.par Каждый участник составит &laquo;Карту личностного развития&raquo;, в&nbsp;которой наметит свой дальнейший образовательный и&nbsp;профессиональный маршрут.

                    .transfer
                        h3.transfer__title Дополнительно вы&nbsp;можете заказать групповой трансфер
                        .transfer__row
                            .transfer__col
                                input(type="radio" id="12-no-transfer" value='no-transfer' data-sum='0' name="12-transfer" checked=).radio
                                label(for="12-no-transfer" ) Без трансфера
                            .transfer__col
                                input(type="radio" id="12-avia" value='avia' data-sum='23862' name="12-transfer").radio
                                label(for="12-avia") Авиатрансфер
                            .transfer__col
                                input(type="radio" id="12-jd-transfer" value='jd-transfer' data-sum='14800' name="12-transfer").radio
                                label(for="12-jd-transfer") Ж/Д трансфер
                        p.transfer__txt Трансфер обеспечивается квалифицированными медицинскими сотрудниками, профессиональными сопровождающими, горячим питанием и&nbsp;питьевым режимом.
                    .list-block
                        //1
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-accommodation.svg").list-block__header-icon
                                h3.list-block__header-title Проживание
                            .list-block__body
                                ul.list
                                    li Размещение в&nbsp;номерах по&nbsp;4-6 человек.
                                    li Удобства в&nbsp;номере.
                                    li В&nbsp;корпусе работают администраторы.
                                    li Предусмотрены камеры хранения, гладильные, прачечные, медицинский пункт, несколько точек доступа к&nbsp;интернету.
                        //2
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-food.svg").list-block__header-icon
                                h3.list-block__header-title Питание
                            .list-block__body
                                ul.list
                                    li Меню рассчитано на&nbsp;5-ти разовое питание с&nbsp;учетом калорийности отдельных приемов пищи.
                                    li Основу меню составляет суточный набор продуктов, разработанный и&nbsp;утвержденный Институтом питания РАМН.
                                    li Для обучающихся доступны буфет и&nbsp;детские кафе.
                                p.list-block__notes * повышенный рацион питания (опционально)
                        //3
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-medical.svg").list-block__header-icon
                                h3.list-block__header-title Медицинское обслуживание
                            .list-block__body
                                p Медицинский корпус является основным лечебно-диагностическим, оздоровительным и&nbsp;консультативным центром службы и&nbsp;включает в&nbsp;себя: два стационара&nbsp;&mdash; соматическое и&nbsp;инфекционное отделения с&nbsp;круглосуточным врачебный дежурством.
                        //4
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-security.svg").list-block__header-icon
                                h3.list-block__header-title Безопасность
                            .list-block__body
                                p Территория детского оздоровительного лагеря огорожена и&nbsp;круглосуточно охраняется.
                        //5
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-sport.svg").list-block__header-icon
                                h3.list-block__header-title Спортивное оснащение
                            .list-block__body
                                ul.list
                                    li Футбольный стадион с&nbsp;искусственным (круглогодичным) покрытием
                                    li Комплексный стадион с&nbsp;площадками для баскетбола, волейбола и&nbsp;футбола
                                    li Беговые дорожки
                                    li Зал тяжёлой атлетики
                                    li Волейбольные и&nbsp;баскетбольные площадки
                                    li Спортивный комплекс с&nbsp;50-метровым открытым бассейном
                                    li Крытая спортивная площадка на&nbsp;1000&nbsp;кв. метров
                                    li Тренажёрный зал
                                    li Зал борьбы, бокса
                                    li Настоящий тир
                        //6
                        .list-block__item
                            .list-block__header
                                img(src="img/icon-beach.svg").list-block__header-icon
                                h3.list-block__header-title Пляж
                            .list-block__body
                                p Собственный галечный пляж &laquo;Смены&raquo;, оборудованный теневыми навесами и&nbsp;спасательной службой, признан лучшим в&nbsp;Анапском районе.
                    button.btn.btn_accent.js-get-offer Забронировать бесплатно


    section.section.map
        .content
            h3.section-title Лагерь находится на&nbsp;побережье черного моря
            p.map__txt Россия, 353407, Краснодарский край, Анапский район, c. Сукко, ул. Приморская, д.&nbsp;7
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa157c3b1527463664264ae5d4358f4cd4bb119cd0af09c2b7a896654cfaa93ee&amp;source=constructor" width="100%" height="460" frameborder="0"></iframe>

    include parts/about
    include parts/popup-feedback
    include parts/popup-booking
    include parts/popup-success















